.nav {
  @at-root #{&}--main {
    background: $brand-dark;

    border-bottom: 1px solid lighten($brand-dark, 5);

    height: 70px;
  }

  @at-root #{&}__item {
    list-style-type: none;
    margin: 0 10px;

    &:first-of-type {
      margin: 0 auto;
    }

    @at-root #{&}__link {
      @extend %font-regular;
      font-size: 1em;

      color: $ice-gray;

      &:link,
      &:hover,
      &:active,
      &:focus,
      &:visited {
        color: $ice-gray;
        background: transparent;
        text-decoration: none;
      }

      &:hover {
        text-decoration: underline;
      }

      @at-root #{&}--logo {
        @extend %text-hide;
        background: url("/images/logo-white.svg") no-repeat top left;
        background-size: 180px auto;
        width: 180px;
        height: 50px;
        display: block;
        position: relative;
        top: 8px;

        &:link,
        &:hover,
        &:active,
        &:focus,
        &:visited {
          border: 0;
          text-decoration: none;
        }
      }
    }

    @at-root #{&}__btn {
      @at-root #{&}--primary {
        @extend %btn--primary;
      }

      @at-root #{&}--primary--ghost {
        @extend %btn--primary--ghost;
      }
    }
  }
}

.nav__item__link.nav__item__link--logo {
  @extend %text-hide;
  background: url("/images/logo-white.svg") no-repeat top left;
  background-size: 180px auto;
  width: 180px;
  display: block;
}

@media (min-width: 980px) {
  .nav {
    @at-root #{&}__item {
      &:first-of-type {
        margin: 0;
      }
    }
  }
}
